.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .graphContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1500px;
  }
  
  .leftGraph {
    flex: 1.5;
    margin-right: 20px;
  }
  
  .rightGraphs {
    display: flex;
    flex-direction: column;
    flex: 2.5;
  }
  
  .graph {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }
  
  .graph img {
    max-width: 100%;
    height: auto;
  }
  
  .draggable {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 350px;
    height: 350px; /* Adjust height to fit titles and graphs */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .draggableContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .draggableGraph {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    height: 120px; /* Adjust height to fit titles and graphs */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .draggableGraph img {
    max-width: 100%;
    height: auto;
  }
  
  .graphTitle {
    margin: 0;
    padding-bottom: 5px;
    font-size: 14px;
    text-align: center;
  }
  
  .closeButton {
    align-self: flex-end;
    background-color: #f00;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .closeButton:hover {
    background-color: #c00;
  }
  
  .footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer img {
    margin-left: 0.5rem;
  }
  
  .logo {
    height: 1em;
  }
  
  .dropdownContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .dropdown {
    padding: 10px;
    font-size: 16px;
  }
  
  .showAllContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
    max-width: 1500px;
  }
  