/* src/styles/Home.module.css */

.chromosomeSelection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chromosomeArm {
  display: flex;
  align-items: center;
  width: calc(50% - 10px); /* Adjust width to fit more items per row */
  margin-bottom: 10px;
}

.chromosomeArm label {
  margin-right: 10px;
  font-weight: bold;
  color: #fff;
}

.chromosomeArm input {
  margin-right: 5px;
}

.chromosomeArm span {
  color: #fff;
  font-weight: normal;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.footer{
  background-color: #000; /* Pure black background */
  color: #fff; /* Pure white text */
  padding: 1em;
  text-align: center;
}

.controlBar {
  width: 0; /* Start with the control bar collapsed */
  transition: width 0.3s ease; /* Smooth transition when opening/closing */
  background-color: rgba(18, 17, 17, 0.8);
  overflow-x: hidden; /* Hide any overflowing content when collapsed */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  color: #f0f0f0;
  padding: 0px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Make sure the control bar is on top of other content */
  font-size: .75em;
}

.controlBar.open {
  width: 15%; /* Expand the control bar to 25% of the screen */
}

.content {
  flex-grow: 1;
  transition: transform 0.3s ease, margin-left 0.3s ease;
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in width calculations */
  width: 100%; /* Default to full width */
  transform-origin: left; /* Scale from the left side */
  position: relative;
  left: 0;
}

.content.shifted {
  transform: scale(0.82); /* Scale down the content to fit within 75% of the screen */
  margin-left: -12.5%; /* Move content left by 12.5% to keep it visible */
  left: 24%; /* Ensure it is moved to the right by 25% to accommodate the control bar */
}

.toggleButton {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px; /* Reduced padding to make the button smaller */
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px; /* Reduced font size */
  color: #333;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center;
  padding: 5px;
}

.file-upload {
  margin-top: 20px;
}

.info {
  margin-top: 10px;
  text-align: center; /* Center the text */
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* Adjust based on number of items */
  gap: 5px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: 20px auto; /* Center the grid and add some space */
}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; /* Reduce padding inside each grid item */
  border-radius: 3px; /* Adjust border-radius for smaller size */
  color: #fff;
  font-weight: bold;
  font-size: 0.75rem; /* Reduce font size */
  min-width: 50px; /* Reduce minimum width for items */
  white-space: nowrap; /* Prevent text wrapping */
}


.legendText {
  grid-column: 1 / -1; /* Span across all columns */
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: flex-end; /* Align the text at the bottom */
  padding-top: 10px; /* Add space above if needed */
}


.plotContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.selection_text{
  color:yellow;

}


/* Color classes for legend */
.LOSS { background-color: #1f77b4; } /* tab:blue */
.LDIP { background-color: #17becf; } /* tab:cyan */
.DIP { background-color: #2ca02c; } /* tab:green */
.FDIP, .RDIP { background-color: #e377c2; } /* tab:pink */
.DUP { background-color: #ff7f0e; } /* tab:orange */
.HDUP { background-color: #bcbd22; } /* tab:olive */
.LOH { background-color: #8c564b; } /* tab:brown */
.GAIN { background-color: #d62728; } /* tab:red */
.GAINPLUS { background-color: #aa00ff; } /* tab:red */



.customFileUpload {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px; /* Reduced padding to make the button smaller */
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px; /* Reduced font size */
  color: #333;
}

.uploadIcon {
  margin-right: 5px; /* Reduced margin */
  width: 20px; /* Set a smaller width for the icon */
  height: 20px; /* Set a smaller height for the icon */
}

.fileInput {
  display: none; /* Hides the actual file input */
}


.fileName {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
  text-align: center;
}


.uploadAndLegend {
  display: flex;
  justify-content: space-between; /* Space between left and right sections */
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the section horizontally */
  width: 100%; /* Ensure the container spans the full width of the content area */
}


.fileUploadSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the upload section to the left */
  flex: 1; /* Take up available space */
}


.legendSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the legend to the left */
  flex: 1; /* Take up more space than the upload section */
  margin-right: 20px; /* Add some space between the legend and the upload section */
}

.grid {
  margin-top: 10px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items at the top */
  height: 100vh; /* Make sure the container takes the full height of the viewport */
  padding-top: 20px; /* Add some padding at the top */
}


.fileUploadSection {
  display: flex;
  /* flex-direction: column; */
  /* align-items: flex-end; Align the upload section to the right */
  flex: 1; /* Take up available space */
}






















